:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
p {
    font-size: 14px;
}
a:visited {
    color: inherit;
}
body {
    display: flex;
    justify-content: center;
}
button {
    cursor: pointer;
}
h1{
    font-size: 22px;
    margin-bottom: 8px;
}

.bookiPage{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

.header{
    width: 100%;
    height: 79px;
    display: flex;
    margin-bottom: 30px;
}

.headerMobile{
    display: none;
}

.headerLandscape{
    display: flex;
}

.bookiHeaderLogo{
    height: 19px;
    margin-left: 50px;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.selectorPageHeader{
    position: absolute;
    right: 0;
    width: 344px;
    height: 35px;
    justify-content: space-evenly;
}
.headerNav{
    display: flex;
    justify-content: space-between;
    height: calc(100% - 2px);
    vertical-align: bottom;
    align-items: center;
    border-top: 2px transparent solid;
}
.headerNav:hover{
    border-top: 2px solid var(--main-color) !important;
    color: var(--main-color) !important;
}

.headerNav[href="#accomodationContainer"] {
    border-top: 2px solid var(--main-color) !important;
    color: var(--main-color) !important;
}
.topTxt{
    margin-bottom: 35px;
    font-size: 16px;
}
.formTownContainer{
    width: 377px;
    height: 49px;
    display: flex;
}
.pinImg{
    height: 18px;
    margin: auto;
}
.inputTown{
    width: calc(377px - 132px - 50px);
    height: calc(100% - 1px - 1px);
    border: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.imgFormContainer{
    width: 50px;
    height: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    border-radius: 15px 0 0 15px;
}
.searchBtn{
    width: 132px;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
}
.searchBtnSmall{
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 15px;
    display: none;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.searchLogo{
    margin: auto;
    display: none;
}
.filtersContainer{
    display: flex;
    margin-top: 35px;
    align-items: center;
}
.allFilters{
    display: flex;
    width: 100%;
}
.filterTopTxt{
    margin-right: 15px;
}
.oneFilter{
    width: fit-content;
    height: 50px;
    display: flex;
    border: 2px solid var(--filter-bg-color);
    border-radius: 25px;
    margin-right: 15px;
    padding-left: 19px;
    padding-right: 19px;
    cursor: pointer;
}
.oneFilter:hover{
    background-color: var(--filter-bg-color);
}
.imgFilterContainer{
    height: 100%;
    width: 22px;
    display: flex;
}
.oneFilterIcon{
    max-width: 22px;
    max-height: 22px;
    margin: auto;
}

.oneFilterTxt{
    margin: auto;
    margin-left: 10px;
    font-size: 17px;
}

.quantityFoundAccomodation{
    margin-top: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.oneInformation{
    width: 24px;
    height: 24px;
    display: flex;
    border: 2px solid var(--filter-bg-color);
    border-radius: 50%;
    margin-right: 15px;
}
.oneInformationIcon{
    height: 14px;
    margin: auto;
}
.activitiesTitle{
    margin-top: 65px;
    margin-bottom: 30px;
}
.activitiesContainer{
    padding-left: 30px;
    padding-right: 30px;
}
.allActivities{
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    gap:30px
}
.oneActitivie{
    width: 297.5px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    cursor: pointer;
}
.oneActivitieImg{
    border-radius: 20px 20px 0 0;
    height: 380px;
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
}
.alignOneActivitiesTxt{
    height: calc(439px - 380px);
    display: flex;
}
.oneActivitiesTxt{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 19px;
    font-size: 16px;
}
.footerContainer{
    height: 123px;
    padding: 20px;
    margin-top: 35px;
    background-color: var(--main-bg-color);
    display: flex;
}
.oneFooterContainer{
    width: calc(100% / 3);
}
.oneFooterTitle{
    font-weight: bold;
    font-size: 21px;
}
.oneFooterTxt{
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}
.moreTxt{
    cursor: pointer;
    width: fit-content;
}

.hebergementsContainer{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hebergementsCard{
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    margin-bottom: 30px;
    cursor: pointer;
}

.hebergementImg{
    width: 250.33px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergementCardTxt{
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.hebergementCardTxtCardTitle{
    margin-bottom: 8px;
}
.hebergementCardRating{
    margin-left: 10px;
    margin-bottom: 10px;
}

/****** Initial CSS ******/

.fa-solid {
    color: var(--main-color);
    cursor: pointer; /* new */
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    .hebergementsCard{
        width: calc(33% - 5px - 5px - 10px);
    }
    .hebergementImg{
        width: 100%;
        object-fit: cover;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .oneActivitieImg{
        height: 200px;
    }
    .filtersContainer {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .filterTopTxt {
        order: -1;
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .oneFilterTxt{
        font-size: 16px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    .bookiHeaderLogo{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .selectorPageHeader{
        position: relative;
        width: 100%;
    }
    .bookiPage{
        padding: 0;
    }
    .topInformation{
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .searchBtn{
        display: none;
    }
    .allActivities{
        flex-direction: column;
        gap: 30px;
    }
    footer{
        width: 100%;
    }
    .footerContainer{
        width: fit-content;
        flex-direction: column;
        height: fit-content;
    }
    .searchBtnSmall{
        display: flex;
    }
    .searchLogo{
        display: block;
        color: white;
    }
    .oneFooterContainer{
        width: 100%;
        margin-bottom: 50px;
    }
    .inputTown{
        width: calc(100% - 50px - 50px);
    }
    .oneFilter{
        width: calc(50% - 19px - 19px - 2px - 2px - 10px);
        margin-right: 0px;
    }
    .allFilters{
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .hebergements-and-populaires{
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section{
        border-radius: 0;
    }
    .populaires-cards{
        flex-direction: column;
    }
    .populaires-cards a{
        width: 100%;
    }
    .hebergements{
        background-color: white !important;
    }
    .hebergementsCard{
        width: 100%;
    }
    .hebergementImg{
        width: 100%;
        object-fit: cover;
    }
    .populaires-cards .card-title{
        font-size: 16px;
    }
    .populaires-cards .card-subtitle{
        font-size: 14px;
    }
    .oneActitivie{
        width: 100%;
    }
    .footerContainer{
        width: calc(100% - 30px - 30px);
        padding: 30px;
    }
    .formTownContainer{
        width: 100%;
    }
    .oneFilterTxt{
        font-size: 14px;
    }
    .headerLandscape{
        display: none;
    }
    .headerNavMobile{
        border-bottom: 2px solid #F2F2F2;
        width: 50%;
        text-align: center;
    }
    .headerNavMobile:hover{
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }
    .headerNavMobile[href="#accomodationContainer"] {
        border-bottom: 2px solid var(--main-color) !important;
        color: var(--main-color) !important;
    }
    .hebergementNavMobile{
        margin: auto;
    }
    .selectorTxtMobile{
        margin-bottom: 15px;
    }
    .headerMobile{
        display: flex;
    }
    .oneActivitieImg{
        height: 141px;
    }
}