:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h2{
    font-size: 18px;
}

a:visited {
    color: inherit;
}

body {
    display: flex;
    justify-content: center;
}

.bookiPage{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

.header{
    width: 100%;
    height: 79px;
    display: flex;
}

.bookiHeaderLogo{
    height: 19px;
    margin-left: 50px;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.selectorPageHeader{
    position: absolute;
    right: 0;
    display: flex;
    width: 344px;
    height: 35px;
    justify-content: space-evenly;
}
.selectorTxt{
    color: var(--main-color);
}
.headerNav{
    display: flex;
    justify-content: space-between;
    height: calc(100% - 2px);
    vertical-align: bottom;
    align-items: center;
    border-top: 2px transparent solid;
}
.headerNav:hover{
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}
.headerSelected{
    border-top: 2px solid var(--main-color) !important;
    color: var(--main-color);
}

h1{
    font-size: 22px;
    margin-bottom: 8px;
}
p{
    font-size: 16px;
}
.topTxt{
    margin-bottom: 35px;
}
.formTownContainer{
    width: 377px;
    height: 49px;
    display: flex;
}
.pinImg{
    height: 18px;
    margin: auto;
}
.inputTown{
    width: calc(377px - 50px - 15px);
    height: 100%;
    border: none;
    padding-left: 15px;
}
.imgFormContainer{
    width: 50px;
    height: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    border-radius: 15px 0 0 15px;
}
.searchBtn{
    width: 132px;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
}
.filtersContainer{
    display: flex;
    margin-top: 35px;
    align-items: center;
}
.filterTopTxt{
    margin-right: 15px;
}
.oneFilter{
    width: fit-content;
    height: 50px;
    display: flex;
    border: 2px solid var(--filter-bg-color);
    border-radius: 25px;
    margin-right: 15px;
}
.oneFilterIcon{
    height: 22px;
    margin: auto;
    margin-left: 19px;
}

.oneFilterTxt{
    margin: auto;
    margin-left: 10px;
    margin-right: 15px;
}

.quantityFoundAccomodation{
    margin-top: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.oneInformation{
    width: 24px;
    height: 24px;
    display: flex;
    border: 2px solid var(--filter-bg-color);
    border-radius: 50%;
    margin-right: 15px;
}
.oneInformationIcon{
    height: 14px;
    margin: auto;
}
.activitiesTitle{
    margin-top: 65px;
    margin-bottom: 30px;
}
.allActivities{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.oneActitivie{
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}
.oneActivitieImg{
    border-radius: 20px 20px 0 0;
    height: 380px;
    width: 100%;
    margin-bottom: 0;
}
.alignOneActivitiesTxt{
    height: calc(439px - 380px);
    display: flex;
}
.oneActivitiesTxt{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 19px;
}
.footerContainer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    background-color: var(--main-bg-color);
}

/* Initial css for Hebergements And Populaires */
.accomodationContainer {
    display: flex;
    justify-content: space-between;
}

.accomodationContainer section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* Initial css for Hebergements */
.hebergements {
    width: 65%;
}


/* Initial css for popular */
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}